---
import Layout from '../../layouts/Default.astro';
import Footer from '../../components/Footer.astro';
import LanguageToggle from '../../components/LanguageToggle.tsx';
import Gallery from '../../components/Gallery.astro';
const lang = 'vi';
const images = [
  { src: '/images/sample1.jpg', alt: 'Mẫu 1' },
  { src: '/images/sample2.jpg', alt: 'Mẫu 2' },
];
---
<Layout lang={lang} title="Bộ sưu tập">
  <header>
    <LanguageToggle client:load lang={lang} />
  </header>
  <main>
    <h1>Bộ sưu tập</h1>
    <Gallery images={images} />
  </main>
  <Footer lang={lang} hotline="+84 123456789" address="123 Street, Hanoi" bookingUrl="#" />
</Layout>
