---
import Layout from '../../layouts/Default.astro';
import Gallery from '../../components/Gallery.astro';

const lang = 'vi';
const images = [
  { src: '/images/sample1.jpg', alt: 'Mẫu 1' },
  { src: '/images/sample2.jpg', alt: 'Mẫu 2' },
];
---
<Layout lang={lang} title="Bộ sưu tập">
  <main>
    <h1>Bộ sưu tập</h1>
    <Gallery images={images} />
  </main>
</Layout>
