---
import Layout from '../../layouts/Default.astro';
import Footer from '../../components/Footer.astro';
import LanguageToggle from '../../components/LanguageToggle.tsx';
import { ui } from '../../i18n';
const lang = 'vi';
---
<Layout lang={lang} title="Dịch vụ">
  <header>
    <LanguageToggle client:load lang={lang} />
  </header>
  <main>
    <h1>Dịch vụ</h1>
  </main>
  <Footer lang={lang} hotline="+84 123456789" address="123 Street, Hanoi" bookingUrl="#" />
</Layout>
