---
interface ImageItem {
  src: string;
  alt: string;
}
export interface Props {
  images: ImageItem[];
}
const { images } = Astro.props as Props;
---
<div class="gallery">
  {images.map((img) => (
    <figure>
      <img src={img.src} alt={img.alt} loading="lazy" />
    </figure>
  ))}
</div>
